@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --principal: #F27C2A;
  --claro: #FF9E5E;
  --letra: #2E3A59;
  --fondo: #fff;
  --neutro: #E3E7EF;
}
@font-face {
  font-family: DM_Sans;
  src: url(../public/Bebas_NeueDM_Sans/DM_Sans/DMSans-VariableFont_opszwght.ttf);
}

body {
  background-image: url('../public/noisy-texture-100x100-o43-d100-c-FFF8F2-t0.png');
  background-repeat: repeat;
  font-family: DM_Sans;
}

.fecha-especial {
  background: #4dc100 !important;
  color: white !important;
}