@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --principal: #F27C2A;
  --claro: #FF9E5E;
  --letra: #2E3A59;
  --fondo: #FFF8F0;
  --neutro: #E3E7EF;
}
@font-face {
  font-family: DM_Sans;
  src: url(../public/Bebas_NeueDM_Sans/DM_Sans/DMSans-VariableFont_opszwght.ttf);
}

body {
  background-color: var(--fondo);
  font-family: DM_Sans;
}